Let us start by installing BeautifulSoup for the retrieval of the required table from the wikipedia link.

In [1]:
! pip install beautifulsoup4
print(" BeautifulSoup4 Successfully Installed!")

Requirement already satisfied: beautifulsoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.1)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulsoup4) (2.0.1)
 BeautifulSoup4 Successfully Installed!

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

Importing required libraries and extraction of the table

In [3]:
import requests
from bs4 import BeautifulSoup

wiki = url
website_url = requests.get(wiki).text
soup = BeautifulSoup(website_url,'html.parser')

my_table = soup.find('table',{'class':'wikitable sortable'})
#print(my_table)
A=[]
B=[]
C=[]


for row in my_table.findAll('tr'):
    cells=row.findAll('td')
    if len(cells)==3:
        A.append(cells[0].find(text=True))
        B.append(cells[1].find(text=True))
        C.append(cells[2].find(text=True))

Conversion of the table into a DataFrame

In [4]:
import pandas as pd
df = pd.DataFrame({'Postal_Code':A,'Borough':B,'Neighbourhood':C})

In [5]:
df.head()

  Postal_Code             Borough                Neighbourhood
0       M1A\n      Not assigned\n               Not assigned\n
1       M2A\n      Not assigned\n               Not assigned\n
2       M3A\n        North York\n                  Parkwoods\n
3       M4A\n        North York\n           Victoria Village\n
4       M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

Data Cleansing and Pre-Processing

In [6]:
df['Postal_Code'] = df['Postal_Code'].map(lambda x: str(x)[:-1])
df['Borough'] = df['Borough'].map(lambda x: str(x)[:-1])
df['Neighbourhood'] = df['Neighbourhood'].map(lambda x: str(x)[:-1])

In [7]:
df.head()

  Postal_Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [8]:
df.shape

(180, 3)

In [9]:
df['Borough'].unique()

array(['Not assigned', 'North York', 'Downtown Toronto', 'Etobicoke',
       'Scarborough', 'East York', 'York', 'East Toronto', 'West Toronto',
       'Central Toronto', 'Mississauga'], dtype=object)

In [10]:
df.set_index(['Postal_Code'],inplace = True)

Getting rid of rows with Borough as "Not assigned"

In [11]:
dfdrop = df[df.Borough == "Not assigned"]

In [12]:
dfdrop.shape

(77, 2)

In [13]:
dfdrop.head()

                  Borough Neighbourhood
Postal_Code
M1A          Not assigned  Not assigned
M2A          Not assigned  Not assigned
M8A          Not assigned  Not assigned
M2B          Not assigned  Not assigned
M7B          Not assigned  Not assigned

In [14]:
df.drop(dfdrop.index,inplace = True)

In [15]:
df.shape

(103, 2)

Processed DataFrame

In [16]:
df.head()

                      Borough                                Neighbourhood
Postal_Code
M3A                North York                                    Parkwoods
M4A                North York                             Victoria Village
M5A          Downtown Toronto                    Regent Park, Harbourfront
M6A                North York             Lawrence Manor, Lawrence Heights
M7A          Downtown Toronto  Queen's Park, Ontario Provincial Government